@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

body{
  background-color:rgb(225, 248, 220);
  color:rgb(112, 128, 145);
}

*/
h1,p{
  color:rgb(0,0,0);
}

h1 {
  font-size;20px;
  color:rgb(30, 144, 255);
font-family: 'Shadows Into Light', cursive;
}
  p {
   font-size;10px;
    color:rgb(0,0,0);
    font-family:'Charmonman',Georgia,serif;
}
  
a{
   color:rgb(43, 191, 254);
} 
  a:hover{
    color:Light Sea Green;
  }
 
div{
   background-color:rgb(48, 206, 209);
}

li {
    color:Aqua;
}
