@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

body{
  background-color:rgb(225, 248, 220);
  color:rgb(112, 128, 145);
}

*/
h1,p{
  color:rgb(0,0,0);
}

h1 {
  font-size;20px;
  color:rgb(30, 144, 255);
  font-family: 'Shadows Into Light', cursive;
}
  p {
   font-size;10px;
   color:rgb(0,0,0);
   font-family:'Charmonman',Georgia,serif;
}
  
a{
   color:rgb(43, 191, 254);
} 
  a:hover{
    color:Light Sea Green;
  }
 
div{
   background-color:rgb(62, 254, 255);
}

.box1{
background-color:rgb(211, 211, 211);
width:150px;
height:150px;

}

.box2{
background-color:rgb(173, 216, 230);
width:150px;
height:150px;
}

li {
    color:Aqua;
}
