@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
body{
  background-color:rgb(225, 248, 220);
  color:rgb(112, 128, 145);
}

*/
h1,p{
  color:rgb(0,0,0);
}

h1 {
  font-size;20px;
  color:rgb(30, 144, 255);
  font-family: 'Shadows Into Light', cursive;
}

h3{
   color:rgb(0,0,0);
  font-family:'Lobster Two', cursive;
}

p {
   font-size;10px;
   color:rgb(0,0,0);
   font-family:'Charmonman',Georgia,serif;
}



a{
   color:rgb(0, 0, 0);
} 
a:hover{
    color:rgb(255, 227, 200);
  }
 
div{
   background-color:rgb(175, 238, 239);
}

.header{
background-color:rgb(255, 255, 255);
width: 1500px;
height: 100px;
}

.main{
background-color:rgb(173, 216, 230);
width: 150px;
height: 150px;
}

.content{
background-color:rgb(216, 191, 216);
width: 70%;
float: left;
height :100px;
}

.sidebar{
background-color:rgb(238, 130, 238);
width:30%;
float:right;
height :100px;
}
  
  .footer{
background-color: rgb(173, 216, 230);
width: 80%;
height: 60%;
}

li {
    color:Aqua;
}

.parent {
  height: 400px;
  width: 100%;
  background-color: rgb(66, 172, 299); 
 } 

.anak1 {
  background-color: rgb(188, 54, 94);
  width: 35%;
  height: 500px;
  float: left;
  text-align: center;
}

.anak2 {
  background-color: rgb(254, 240, 245);
  width: 30%;
  height:500px;
  float: left;
  text-align: center;
}

.anak3 {
  background-color: rgb(188, 54, 94);
  width: 35%;
  height:500px;
  float: left;
  text-align: center;
}

.panel-img {
width: 200px;
height:200px;
background-color:rgb(176, 224, 230)
}

.panel-img1{
  background-color: rgb(188, 54, 94);
  width: 35%;
  height: 400px;
  float: left;
  text-align: center;
}

.panel-img2{
  background-color: rgb(188, 54, 94);
  width: 30%;
  height: 400px;
  float: left;
  text-align: center;
}

.panel-img3{
  background-color: rgb(188, 54, 94);
  width: 35%;
  height: 400px;
  float: left;
  text-align: center;
}

